In [1]:
import nltk #Natural Language Toolkit
nltk.download("stopwords") 
from nltk.corpus import stopwords
import re #regex

nltk.download("punkt_tab")
from nltk.tokenize import word_tokenize as wordTokenize, sent_tokenize as sentTokenize #tokenization

from nltk.stem import PorterStemmer #stemming
ps = PorterStemmer()

nltk.download("wordnet")
from nltk.stem import WordNetLemmatizer #lemmatization
lemmatizer = WordNetLemmatizer()

import pandas as pd
import matplotlib.pyplot as plt

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Josip\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\Josip\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Josip\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [2]:
data = pd.read_csv("tripadvisor_hotel_reviews.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  109 non-null    object
 1   Rating  109 non-null    int64
dtypes: int64(1), object(1)
memory usage: 1.8+ KB

In [3]:
data.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [4]:
data["lowercase"] = data["Review"].str.lower()

In [21]:
enStopwords = stopwords.words("english")
enStopwords.remove("not")
data["noStopwords"] = data["lowercase"].apply(lambda review: " ".join([word for word in review.split(" ") if word not in enStopwords])) #execute callback for each element inside a specified column

In [22]:
data["noPunctuation"] = data.apply(lambda review: re.sub(r"[^\w\s]", "" , review["noStopwords"]), axis = 1) #go row by row
data["noPunctuation"] = data.apply(lambda review: re.sub(r"[*]", "star" , review["noPunctuation"]), axis = 1)

In [23]:
data["tokenized"] = data.apply(lambda review: wordTokenize(review["noPunctuation"]), axis =1)

In [8]:
data["stemmed"] = data["tokenized"].apply(lambda tokens:[ps.stem(token) for token in tokens])

In [9]:
data["lemmatized"] = data["tokenized"].apply(lambda tokens: [lemmatizer.lemmatize(token) for token in tokens])

In [10]:
cleanTokens = sum(data["lemmatized"], []) # .concat()

In [11]:
unigrams = (pd.Series(nltk.ngrams(cleanTokens, 1))).value_counts()
biograms = (pd.Series(nltk.ngrams(cleanTokens, 2))).value_counts()

In [20]:
unigrams

(hotel,)        292
(room,)         275
(great,)        126
(not,)          122
(stay,)          95
               ...
(absolute,)       1
(mayflower,)      1
(30the,)          1
(scarce,)         1
(connected,)      1
Name: count, Length: 2588, dtype: int64

In [19]:
data.head()

,Review,Rating,lowercase,noStopwords,noPunctuation,tokenized,stemmed,lemmatized
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expens, park, got, good, deal, s...","[nice, hotel, expensive, parking, got, good, d..."
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member...","[ok, noth, special, charg, diamond, member, hi...","[ok, nothing, special, charge, diamond, member..."
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4 experience hotel monaco seatt...,"[nice, rooms, not, 4, experience, hotel, monac...","[nice, room, not, 4, experi, hotel, monaco, se...","[nice, room, not, 4, experience, hotel, monaco..."
3,"unique, great stay, wonderful time hotel monac...",5,"unique, great stay, wonderful time hotel monac...","unique, great stay, wonderful time hotel monac...",unique great stay wonderful time hotel monaco ...,"[unique, great, stay, wonderful, time, hotel, ...","[uniqu, great, stay, wonder, time, hotel, mona...","[unique, great, stay, wonderful, time, hotel, ..."
4,"great stay great stay, went seahawk game aweso...",5,"great stay great stay, went seahawk game aweso...","great stay great stay, went seahawk game aweso...",great stay great stay went seahawk game awesom...,"[great, stay, great, stay, went, seahawk, game...","[great, stay, great, stay, went, seahawk, game...","[great, stay, great, stay, went, seahawk, game..."