# bag of words model

In [6]:
import pandas as pd
# transforms a collection of text documents into a matrix of token counts
# - it breaks the text into words(tokens) and counts how often each word appears
from sklearn.feature_extraction.text import CountVectorizer

In [8]:
data = [' Most shark attacks occur about 10 feet from the beach since that is where the people are',
        'the efficiency with which he paired the socks in the drawer was quite admirable',
        'carol drank the blood as if she were a vampire',
        'giving directions that the mountains are to the west only works when you can see them',
        'the sign said there was road work ahead so he decided to speed up',
        'the gruff old man sat in the back of the bait shop grumbling to himself as he scooped out a handful of worms']

In [16]:
countVec = CountVectorizer(binary=True) #words exists or not, only counts words

In [17]:
countVecFit = countVec.fit_transform(data) # fit=> which unique words appear, transform => converts text into numbers and counts how often each word occurs

In [18]:
countVecFit

<6x71 sparse matrix of type '<class 'numpy.int64'>'
	with 85 stored elements in Compressed Sparse Row format>

In [19]:
#row = doc, column = word, entry = word count
bagofwords = pd.DataFrame(countVecFit.toarray(), columns = countVec.get_feature_names_out())
bagofwords

,10,about,admirable,ahead,are,as,attacks,back,bait,beach,...,were,west,when,where,which,with,work,works,worms,you
0,1,1,0,0,1,0,1,0,0,1,...,0,0,0,1,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,1,0,1
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5,0,0,0,0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0

In [28]:
# term frequency-inverse document frequency
from sklearn.feature_extraction.text import TfidfVectorizer
# how important a word is, context, how often a word appears in a single doc(TF), how common it is across all docs(IDF)
# common words: lower score - dont destinguish on doc from another, higher score = more specific to a doc + importance

In [30]:
tfidfVec = TfidfVectorizer()

In [31]:
tfidfVecFit = tfidfVec.fit_transform(data)

In [32]:
tfidfBag = pd.DataFrame(tfidfVecFit.toarray(), columns = tfidfVec.get_feature_names_out())
tfidfBag

,10,about,admirable,ahead,are,as,attacks,back,bait,beach,...,were,west,when,where,which,with,work,works,worms,you
0,0.257061,0.257061,0.000000,0.000000,0.210794,0.000000,0.257061,0.00000,0.00000,0.257061,...,0.000000,0.00000,0.00000,0.257061,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000
1,0.000000,0.000000,0.293641,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.293641,0.293641,0.000000,0.00000,0.00000,0.00000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.292313,0.000000,0.00000,0.00000,0.000000,...,0.356474,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000
3,0.000000,0.000000,0.000000,0.000000,0.222257,0.000000,0.000000,0.00000,0.00000,0.000000,...,0.000000,0.27104,0.27104,0.000000,0.000000,0.000000,0.000000,0.27104,0.00000,0.27104
4,0.000000,0.000000,0.000000,0.290766,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.290766,0.00000,0.00000,0.00000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.178615,0.000000,0.21782,0.21782,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.21782,0.00000